map width=10 height=10 tilewidth=32 tileheight=32 \
  orientation="orthogonal" version=11 \
  nextobjectid=4 nextlayerid=3 {
  
    tileset source="../Tilesets/Tileset/config.kdl"     firstgid=1;    //1-99
    tileset source="../Tilesets/TilesetUI/config.kdl"   firstgid=100;  //100-1124
    tileset source="../Tilesets/Aqua/config.yml"        firstgid=1125;
    tileset source="../Tilesets/Azure/config.yml"       firstgid=1135;
    tileset source="../Tilesets/Cinnabar/config.yml"    firstgid=1145;
    tileset source="../Tilesets/Diamond/config.yml"     firstgid=1155;
    tileset source="../Tilesets/Emerald/config.yml"     firstgid=1165;
    tileset source="../Tilesets/Opal/config.yml"        firstgid=1175;
    tileset source="../Tilesets/Rubellite/config.yml"   firstgid=1185;
    tileset source="../Tilesets/Ruby/config.yml"        firstgid=1195;
    tileset source="../Tilesets/Spinel/config.yml"      firstgid=1205;
    tileset source="../Tilesets/Topaz/config.yml"       firstgid=1215;
    tileset source="../Tilesets/TilesetDual/config.yml" firstgid=1225; //1225-...
  
    layer id=1 name="Suelo" width=10 height=10 visible=#false opacity=0 {
      data encoding="csv";
      properties {
        property name="type" value="ground" type="string";
        property name="dualgrid" value=#true type="boolean";
      }
    }
    
    objectgroup id=2 name="Chars" {
      properties;
      objects {
        object id=1 type="character" x=64 y=64 { point; }
        object id=2 type="character" x=64 y=32 { point; }
        object id=3 type="enemy" x=96 y=96 { point; }
      }
    }
}
