@import '/stylesheets/common.css';
@import 'lucide-static/font/lucide.css';

body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

#game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

#game-log,
#game-controls {
  border: 1px solid black;
}

#game-container {
  width: 100%;
}
